<a href="https://colab.research.google.com/github/carolina-garay/grupo_32/blob/main/Copia_de_Entregable_Parte_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones**

**Edición 2022**

---

# Trabajo práctico entregable - Parte 2

In [ ]:
import io
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn
import scipy.stats

seaborn.set_context('talk')

Use el colab que subieron a la pag porque me resulta más facil para ir leyendo las consignas

In [ ]:
url = 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/sysarmy_survey_2020_processed.csv'
df = pd.read_csv(url)

In [ ]:
df[:3]

,profile_gender,profile_age,work_country,work_province,profile_years_experience,work_years_in_company,work_years_in_current_position,work_people_in_charge_of,profile_studies_level,profile_studies_level_state,...,work_has_violence_situations,profile_sexual_orientation,profile_has_disabilities,profile_has_disabilities_hiring_difficulties,company_employee_number,company_main_activity,company_recommended,company_diversity_policies,company_extra_benefits,company_best_companies_city
0,Mujer,26,Argentina,Ciudad Autónoma de Buenos Aires,3.0,3.0,3.0,0,Universitario,En curso,...,En mi trabajo actual,Homosexual,NaN,NaN,501-1000,Servicios / Consultoría de Software / Digital,7,2,"Capacitaciones y/o cursos, Comidas pagas / sub...",NaN
1,Hombre,29,Argentina,Corrientes,5.0,2.0,2.0,4,Universitario,En curso,...,Jamás,Heterosexual,Visual,No,201-500,Otras industrias,8,9,"Horarios flexibles, Stock options / RSUs, Viát...",NaN
2,Mujer,22,Argentina,Ciudad Autónoma de Buenos Aires,2.0,0.0,0.0,0,Secundario,Completado,...,En un trabajo anterior,Bisexual o queer,NaN,No,2001-5000,Otras industrias,6,9,"Clases de gimnasia online, Comidas pagas / sub...",NaN

In [ ]:
df[['profile_gender', 'salary_monthly_NETO']].groupby('profile_gender').describe()
#.describe() muestra la cantidad, media, desvio standar, min, max y cuartiles/percentiles
#.groupby('profile_gender') agrupa los datos y cuenta

               salary_monthly_NETO                                     \
                             count          mean            std   min
profile_gender
Hombre                      4944.0  98836.063558  102159.664237   1.0
Mujer                        908.0  73501.414465   56256.880181   2.0
Otros                         31.0  95441.354839   88635.674358  40.0


                    25%      50%       75%        max
profile_gender
Hombre          53285.0  80000.0  110000.0  2080000.0
Mujer           43818.0  65000.0   92000.0   800000.0
Otros           39500.0  74000.0  117500.0   380000.0

En el siguiente código elegí mayor a 50000 para que se relacione con la parte 1 (canasta básica)

In [ ]:
df[df.salary_monthly_NETO > 50000]\
  [['profile_gender', 'salary_monthly_NETO']].groupby('profile_gender').describe()
  #Los salarios que son mayores a 50000 con la misma tabla

               salary_monthly_NETO                                          \
                             count           mean            std       min
profile_gender
Hombre                      3818.0  118210.586750  108622.099534  50069.76
Mujer                        617.0   93249.501848   57609.972683  50032.00
Otros                         18.0  141588.888889   90792.211955  54000.00


                    25%       50%       75%        max
profile_gender
Hombre          72000.0   91000.0  120000.0  2080000.0
Mujer           64000.0   80000.0  102000.0   800000.0
Otros           82250.0  108000.0  166250.0   380000.0

In [ ]:
alpha = 0.05

In [ ]:
is_man = df.profile_gender == 'Hombre' #designa solo el genero hombre

groupA = df[(df.salary_monthly_NETO > 50000) & is_man].salary_monthly_NETO #Salario neto de hombres
groupB = df[(df.salary_monthly_NETO > 50000) & ~is_man].salary_monthly_NETO #otros generos menos hombres
#print(groupA)
#print(groupB)

## Ejercicio 1: Estimación

**Consigna:**  Calcular una estimación puntual y un intervalo de confianza de nivel (1-alpha) para la resta entre la media del salario Neto para Hombres menos la media del salario Neto para otros géneros(diferencia de las medias entre el grupoA y grupoB). 
¿Cómo se relaciona este intervalo de confianza con el test de hipótesis?

Calculé las varianzas para ver si eran disntintas y saber qué método usar. Busqué y no encontré dentro de la libreria scipy.stats un código para calcular directamente los grados de libertad con welch, si salía la fórmula así que la ingresé. Hay dos fórmulas para calcular los gl y no se cuál sera la mejor o en que se diferencia una de otra o si depende del tamaño de la muestra.
En cuanto al valor del estadístico t, parecido a lo anterior. el codigo de la librería scipy.stats me da un valor, pero cuando lo hago con la formula (manual) me da otro que coincide con la prueba de hipótesis. Para charlarlo.

In [ ]:
mean_GA = groupA.mean()
print("media salario hombres",mean_GA)
mean_GB = groupB.mean()
estimador = mean_GA - mean_GB
print("La estimación puntual para (group_A) - (group_B) es:",estimador)
print("cálculo de las varianzas grupoA= %.3f grupoB= %.3f" %(groupA.var(), groupB.var()))
print()

#intervalo de confianza (1-alpha) metodo de welch porque las varianzas son distintas

#calculamos grados de libertad con el método welch opción 1 (vi otra opción preguntar)
num =  ((groupA.var() / len(groupA))  + (groupB.var()/len(groupB))) ** 2
den = (((groupA.var() / len(groupA)) ** 2) / (len(groupA) - 1 )) + (((groupB.var() / len(groupB)) ** 2) / (len(groupB) - 1 ))
print("El grado de libertad con el método Welch es:", num/den)
print()
#valor de t para un determinado intervalo de confianza y grado de libertad
IdC=scipy.stats.t.ppf(q=0.95 + 0.05/2, df=num/den, loc=0, scale=1) 
print("el intervalo de confiaza es:",-IdC,IdC)
print()
#Calculamos el valor del estadístico t (distribución t-student) chequear
t = (estimador)/np.sqrt((groupA.var()/len(groupA))+(groupB.var()/len(groupB)))
print("El estadístico t es:",t)
print("el intervalo de Confianza es de:(%.3f , %.3f" %(-t, t))
print()
#test de hipotesis
prueba_hip = scipy.stats.ttest_ind(groupA, groupB, equal_var = False)
print(prueba_hip)

#filas = df.apply(lambda x: True if x['salary_monthly_NETO'] > 1000 else False, axis=1) #cantidad de personas que cobran mas de $1000
#n = len(filas[filas == True].index)
#print("valor n:",n)
#z_0975 = 1.96
#std=df[['salary_monthly_NETO']].std()
#estadistico_liminf =estimador-(std*z_0975/np.sqrt(n))
#estadistico_limsup =estimador+(std*z_0975/np.sqrt(n))
#print("El intervalo de confiaza de es de: (%.3f , %.3f)" %(estadistico_limsup , estadistico_liminf))

media salario hombres 118210.58674960714
La estimación puntual para (group_A) - (group_B) es: 23590.83456063077
cálculo de las varianzas grupoA= 11798760507.190 grupoB= 3510175109.699

El grado de libertad con el método Welch es: 1464.9630094903723

el intervalo de confiaza es: -1.9615846391744745 1.9615846391744745

El estadístico t es: 8.035940184058292
el intervalo de Confianza es de:(-8.036 , 8.036

Ttest_indResult(statistic=8.035940184058287, pvalue=1.8941636044177762e-15)

El intervalo de confianza nos permite evaluar la precisión de la muestra y mediante el test de hipóteis podemos saber si el nivel de significación (alpha) es suficiente para rechazar o no la hipótesis nula

## Ejercicio 2: Test de hipótesis

Acá solo completé lo que pedián y es ver si estamos de acuerdo con eso y empezar a trabajar en base a eso

### 2.1 Formalización

Describir formalmente los distintos compenentes de un test de hipótesis para comprobar si la distribución de los salarios es distinta entre los grupos A y B.

**Hipótesis Nula**

¿Cómo las variables son independientes se puede pensar en una distribución normal? 

Quiero ver si la distribución del salario es mayor para hombres que para personas de otro género.

$H_0$: media de sueldos de hombres 🇲= 118210

$H_a$: < 118210

$alpha$ = 0.05

$Estadistico$ $de$ $prueba$= diferencias de las medias entre grupo A y grupo B

**Regla de decisión**: estará dado por la región de rechazo, los valores del estadistico de prueba para los cuales $H_0$ será rechazada.


**Estadístico (Pivote)**
  * Identificar el estadístico: 
  * Escribir qué distribución tiene bajo $H_0$

### 2.2 P-valor

1. Calcule el p-valor y decida si rechazar o no la hipótesis nula.
2. Interprete el resultado.
3. Los dos grupos de nuestra muestra tienen tamaños muy distintos. ¿Esto afecta al tests?

Links útiles:
* [Test de hipótesis usando scipy](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html)
* [Test de Welch](http://daniellakens.blogspot.com/2015/01/always-use-welchs-t-test-instead-of.html)

### [Opcional] 2.3 Potencia del test

Nuestra muestra, ¿era lo suficientemente grande para detectar si existe o no una diferencia entre los grupos?

1. Utilice la función `tt_ind_solve_power` para calcular el tamaño necesario de la muestra para un poder estadístico de 0.8, 0.9 y 0.95, asumiendo una significancia estadística de 0.05.
2. ¿Cómo intepretan el poder estadístico de un test? Dado su conocimiento de dominio sobre los datos, ¿les parece que esta muestra es lo suficientemente grande para ser representativo de la tendencia general? ¿y para utilizarlo en un juicio penal contra una empresa XX por una causa de discriminación?

[Documentación](https://www.statsmodels.org/stable/generated/statsmodels.stats.power.tt_ind_solve_power.html)

NOTA: este análisis debería hacerse ANTES de recolectar los datos.

In [ ]:
from statsmodels.stats.power import tt_ind_solve_power

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
effect_size = (groupA.mean() - groupB.mean()) / groupB.std()
# nobs1=None  - What we want to know
alpha = 0.05
ratio = len(groupB) / len(groupA)

In [ ]:
tt_ind_solve_power(effect_size=effect_size, alpha=alpha, power=power, ratio=ratio)

298.3073379956589

## Ejercicio 3: Comunicación y visualización

**Consigna:** Seleccionen un resultado que les parezca relevante a partir de alguno de los ejercicios del entregable. Diseñe e implemente una comunicación en base a este mensaje, en un archivo PDF.

Elija las palabras y visualización más adecuada para que la comunicación sea entendible, efectiva y se dapte a UNA de las siguientes situaciones:

1. Una sección en un artículo de difusión a presentar como parte de una organización sin fines de lucro.
No más de 1 página A4 (o dos si los gráficos son muy grandes).
  1. Ejemplo: Alguna de las secciones [Los ecosistemas de emprendimiento de América Latina y el Caribe frente al COVID-19: Impactos, necesidades y recomendaciones](https://publications.iadb.org/es/los-ecosistemas-de-emprendimiento-de-america-latina-y-el-caribe-frente-al-covid-19-impactos-necesidades-y-recomendaciones), por ejemplo la sección *2.2. Reacciones de los emprendedores*.
  2. Ejemplo: Alguna de las secciones de [The state of gender pay gap in 2021](https://www.payscale.com/data/gender-pay-gap?tk=carousel-ps-rc-job)
  3. Puntos clave: 
    1. Simpleza de los gráficos.
    2. Comunicación en lenguaje simple a personas que no son necesariamente expertos de dominio.
    2. Selección de UNA oración sobre la que se hace énfasis.
    3. No es necesario que mencionen objetivos ni descripciones del conjunto de datos, se supone que eso ya estaría explicado en otras secciones del informe.

2. Una publicación científica o reporte técnico interno. No más de una página A4:
  2. Ejemplo: La sección de resultados de [IZA DP No. 12914: The Impact of a Minimum Wage Change on the Distribution of Wages and Household Income](https://www.iza.org/publications/dp/12914/the-impact-of-a-minimum-wage-change-on-the-distribution-of-wages-and-household-income).
  2. Ejemplo: Alguna de las secciones de [Temporary reduction in daily global CO2 emissions during the COVID-19 forced confinement](https://www.nature.com/articles/s41558-020-0797-x)
  3. Puntos clave:
    3. Nivel de detalle técnico requerido. Es necesario justificar la validez del análisis.
    4. La idea presentada puede ser más compleja. Pueden asumir que la audiencia tiene conocimiento técnico y va a analizar las visualizaciones en detalle. 
    5. Pueden presentar más en detalle las limitaciones del análisis (significancia estadística, etc.)
    2. No es necesario que mencionen objetivos ni descripciones del conjunto de datos, se supone que eso ya estaría explicado en otras secciones del informe.

3. Un tweet (o post de LinkedIn) para la cuenta de su empresa consultora que hace análisis de datos. El objetivo es promocionar un análisis de datos abiertos que van a incluir en su portfolio:
  1. Ejemplo: [Comparación vacunas covid](https://twitter.com/infobeautiful/status/1381577746527236098?s=20)
  2. Ejemplo: [Tweet del BID](https://twitter.com/el_BID/status/1388508583944507396?s=20). Lo valioso de este tweet es que usaron un único número para transmitir un mensaje. Puede ser algo así, o con un gráfico muy simple.
  3. Ejemplo: [Cambio climático](https://twitter.com/UNFCCC/status/1387732156190011394?s=20) Es un muy buen ejemplo, excepto que el gráfico no se lee nada y hay que entrar a la publicación original.
  3. Ejemplo: [¿Cuánto están los programadores en las empresas?](https://www.linkedin.com/posts/denis-rothman-0b034043_tech-career-work-activity-6793861923269054464-gS6y) (No verificamos la veracidad o seriedad de la fuente).
  4. Puntos clave:
    1. Su audiencia no va a mirar la visualización por más de unos segundos, y no tiene conocimiento técnico.
  3. Tienen que incluir además una *breve* descripción de cómo obtuvieron los datos que están presentando, que no entraría en el tweet.